---
layout: default
title: Home
---

<!--<img src="http://achamess.github.io/assets/images/about_pic.jpg" style="float:right;"> -->
<p>I am a 5th year MD-PhD student in the <a href="http://mstp.duke.edu">Medical Scientist Training Program</a> at the <a href="http://dukemed.duke.edu">Duke University School of Medicine</a>. Currently, I am pursuing my PhD work under <a href="http://www.neuro.duke.edu/training-faculty/phd-training-faculty/ru-rong-ji">Dr. Ru-Rong Ji</a> in the Pain Signaling and Sensory Plasticity Laboratory. </p>

<p>I received a BS in Biochemistry from <a href="http://www.stonybrook.edu">Stony Brook University</a> in 2009. I then came to Duke Med to begin my medical education in 2010. In Fall 2012, I began my graduate studies through the <a href="http://pharmacology.mc.duke.edu/">Department of Pharmacology and Cancer biology</a> </p>

<p>I am broadly interested in understanding the molecular and cellular mechanisms of nociception, with an emphasis on chronic pain. As an aspiring physician-scientist, I aim to direct my <a href="/research">research </a> efforts towards questions of high clinical relevance.</p>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->